<h1>About Bloccit</h1>
<p>Created by: Me</p>
<p>Created by: Hardip</p>
<<<<<<< HEAD
=======
<%= link_to "Follow me on Facebook", "https://www.facebook.com/hardip.singh.52", class: "social-btn" %>

>>>>>>> checkpoint-30-models
